<footer>
    <nav class="footer">
      <ul>
        <li><a href="/create">Create a New Page</a></li>
        <li><a href="/upload">Upload a File</a></li>
      </ul>
    </nav>
    <% if (locals.footer) { %><p><%= footer %></p><% } %>
  </footer>
  <script src="/js/bundle.js"></script>