<header>
      <nav>
      <% if (locals.isLoggedIn) { %>
        <% if (locals.char) { %>
        <a href="<%= char.path %>" class="active-char"><%= char.name %></a>
        <% } %>
        <ul>
          <li><a href="/profile">Your Profile</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      <% } else { %>
        <ul>
          <li class="status"><em>Log in with:</em></li>
          <li><a href="/login/google">Google</a></li>
          <li><a href="/login/discord">Discord</a></li>
        </ul>
      <% } %>
      </nav>
      <form action="/search" method="GET" class="search">
        <input type="search" name="q" placeholder="Search for..." value="<%= locals.query ? query : '' %>" />
        <button>Search</button>
      </form>
      <h1><%- title %></h1>
    </header>