<div class="secret">
  <%- markup %>
  <form action="<%= action %>" method="GET" class="reveal">
    <input type="text" placeholder="Reveal this secret to..." name="to" />
    <button>Reveal</button>
  </form>
</div>