<!DOCTYPE html>
<html>
  <%- include('includes/head') %>
  <body>
    <%- include('includes/header') %>
    <header class="page">
      <h1>Create a Character</h1>
    </header>
    <main>
      <div class="content-wrapper">
        <%- include('includes/form-character') %>
      </div>
    </main>
    <%- include('includes/footer') %>
  </body>
</html>