<!DOCTYPE html>
<html>
  <%- include('includes/head', { title }) %>
  <body>
    <%- include('includes/header', { isLoggedIn, char, title }) %>
    <main>
      <%- include('includes/char-form', { action: `/character/${char._id}/update`, name: char.page.title, systems, update: true }) %>
    </main>
    <%- include('includes/footer') %>
  </body>
</html>
