<!DOCTYPE html>
<html>
  <%- include('includes/head', { title }) %>
  <body>
    <%- include('includes/header', { isLoggedIn, char, title }) %>
    <main>
      <%- include('includes/page-form') %>
    </main>
    <%- include('includes/footer') %>
  </body>
</html>
