<!DOCTYPE html>
<html>
  <%- include('includes/head', { title }) %>
  <body>
    <%- include('includes/header', { isLoggedIn, char, title }) %>
    <main>
      <%- include('includes/page-form', { upload: locals.upload, title: locals.page?.title, page: locals.page }) %>
    </main>
    <%- include('includes/footer') %>
  </body>
</html>
