<!DOCTYPE html>
<html>
  <%- include('includes/head', { title }) %>
  <body>
    <%- include('includes/header', { isLoggedIn, char, title }) %>
    <main>
      <p>Hello, world!</p>
    </main>
    <%- include('includes/footer') %>
  </body>
</html>
