<!DOCTYPE html>
<html>
  <%- include('includes/head', { title }) %>
  <body>
    <%- include('includes/header', { isLoggedIn, char, title: page.title }) %>
    <main>
      <%= page.body %>
    </main>
    <%- include('includes/footer') %>
  </body>
</html>
