<!DOCTYPE html>
<html>
<%- include('./includes/head', { title }) %>
  <body>
    <%- include('./includes/header', { isLoggedIn, char, title }) %>
    <main class="profile">
      <% if (isLoggedIn) { %>
        <h2>Logins</h2>
        <p>You&rsquo;ll need to leave at least one of these services connected in order to log into your account in the future. Connecting an account simply lets you use it to log in.</p>
        <table>
          <thead>
            <tr>
              <th>Service</th>
              <th class="short">Status</th>
              <th />
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Google</td>
              <% if (connectedGoogle) { %>
              <td class="short">Connected</td>
              <td class="actions"><a href="/disconnect/google" class="button">Disconnect Google</a></td>
              <% } else { %>
              <td class="short">Not connected</td>
              <td class="actions"><a href="/login/google" class="button">Connect Google</a></td>
              <% } %>
            </tr>
            <tr>
              <td>Discord</td>
              <% if (connectedDiscord) { %>
              <td class="short">Connected</td>
              <td class="actions"><a href="/disconnect/discord" class="button">Disconnect Discord</a></td>
              <% } else { %>
              <td class="short">Not connected</td>
              <td class="actions"><a href="/login/discord" class="button">Connect Discord</a></td>
              <% } %>
            </tr>
          </tbody>
        </table>
        <h2>Characters</h2>
        <p>
        <% if (locals.charClaimMode) { %>
          <a href="/toggle-char-claim-mode" class="toggle on">Turn off character claim mode</a>
        <% } else { %>
            <a href="/toggle-char-claim-mode" class="toggle off">Turn on character claim mode</a>
        <% } %>
        </p>
      <% } else { %>
        <p>You&rsquo;ll need to log before you can see or edit your profile.</p>
      <% } %>
    </main>
    <%- include('./includes/footer') %>
  </body>
</html>
