%button {
  appearance: none;
  background: #545AA7;
  border: 0;
  border-radius: 0.5em;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.5);
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Georgia, serif;
  font-size: 1rem;
  font-weight: bold;
  padding: 1em 2em;
  text-decoration: none;

  &:hover {
    background: #6469b1;
  }

  &:active {
    background: #4b5196;
    box-shadow: 0 0 0.15em rgba(0, 0, 0, 0.5);
  }
}

button,
a.button {
  @extend %button;
}

.actions {
  text-align: right;
}