@forward '../modules/placeholders';

ul.categories {
  @extend %unformatted-list;
  @extend %box;

  margin-bottom: 0;

  &:before {
    content: 'Categories: ';
    display: inline;
    font-style: italic;
  }

  li {
    display: inline;

    &:before {
      content: '|';
    }

    &:first-child:before {
      content: none;
    }
  }
}

.category-alphabetized h3 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3333);
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
}

@supports (display: grid) {
  .category-listing.long {
    column-count: 2;

    &:after {
      content: '';
      display: inline-block;
    }
  }
}