label,
input,
textarea {
  display: block;
  width: 100%;
}

label {
  font-weight: bold;
  margin: 2em 0 0.5em 0;
}

input,
textarea {
  background: #fdf9ed;
  border: 0;
  font-family: Georgia, serif;
  padding: 1em;
}

input[type="file"] {
  background: transparent;
  padding: 1em 0;
}

textarea.body {
  height: 40vh;
}

.upload textarea.body {
  height: 20vh;
}

.secret-form {
  margin: 1em 0;

  input[name="number"] {
    margin: 0 0 0.5em 0;
    width: 6em;
  }
}
