@use '../modules/colors';

label,
input,
textarea {
  display: block;
  width: 100%;
}

label {
  font-weight: bold;
  margin: 2em 0 0.5em 0;

  .note {
    font-size: 75%;
    font-weight: normal;
    margin-top: 0.5em;
  }
}

input,
textarea {
  background: #fff;
  border: 1px solid #ccc;
  font-family: 'Trebuchet MS', serif;
  font-size: 1em;
  padding: 1em;
}

input[type="file"] {
  background: transparent;
  border: 0;
  padding: 1em 0;
}

textarea.body {
  height: 40vh;
  line-height: 1.5;
}

.search {
  display: flex;

  input {
    margin-right: 1em;
  }
}

.upload textarea.body {
  height: 20vh;
}

.toggle {
  margin: 1em 0;

  input[type="checkbox"] {
    appearance: none;
    background: colors.$altbg;
    border: 1px solid colors.$altborder;
    border-radius: 1em;
    cursor: pointer;
    display: inline-block;
    height: 2em;
    margin-right: 1em;
    outline: none;
    padding: 0;
    position: relative;
    transition: background-color 0.3s;
    width: 4em;
    vertical-align: middle;

    &:focus {
      border-color: colors.$button;

      &:before {
        border-color: colors.$button;
      }
    }

    &:checked {
      background: colors.$ins;
    }

    &:before {
      background: colors.$bg;
      border: 1px solid colors.$altborder;
      border-radius: 0.8em;
      content: '';
      display: block;
      height: 1.6em;
      left: 0.1em;
      position: absolute;
      top: 0.1em;
      transition: left 0.3s;
      width: 1.6em;
    }

    &:checked:before {
      left: 2.1em;
    }
  }

  label {
    display: inline-block;
    width: auto;
  }
}
