@forward '../modules/placeholders';

header nav {
  margin-top: 0;
  overflow: auto;
  padding: 0;

  ul {
    @extend %unformatted-list;
  }

  a,
  .status {
    padding: 1em;
    margin: 0.25em 0;
  }

  a {
    background: rgba(245, 225, 166, 0.5);
    color: black;
    display: block;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      background: rgba(245, 225, 166, 1);
    }

    &:active {
      background: rgba(0, 0, 0, 0.1);
    }
  }

  @media (min-width: 35em) {
    text-align: right;

    ul {
      margin-right: 0.25em;
    }

    li {
      display: inline-block;
    }
  }
}

.pov {
  background: transparent;
  display: block;
  font-weight: normal;
  padding: 1.25em 1em 1em 1em;
  position: relative;
  min-width: 10em;
  text-align: left;

  &:before {
    content: 'Current point of view';
    font-size: 66%;
    display: block;
    left: 1.5em;
    position: absolute;
    top: 0.5em;
  }

  &:hover,
  &:active {
    background: transparent;
  }

  @media (min-width: 35em) {
    margin-top: -3em;
    max-width: 15em;
  }
}

header h1 {
  font-size: 2em;
  margin: 2em 2em 0 2em;
  padding: 0 1em;

  @media (min-width: 44em) {
    margin: 2em auto 0 auto;
    max-width: 20em;
  }
}