@forward '../modules/placeholders';

.version-notice {
  @extend %layout-size;
  margin-top: 0;
  margin-bottom: 0;

  p {
    margin: 1em 2em;
  }
}

header.compare {
  border-bottom: 1px solid black;
  margin-bottom: 2em;
  padding-bottom: 1em;
}
