@forward '../modules/placeholders';

:root,
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: url(https://lorevault.s3.us-east-2.wasabisys.com/styles/base/bg.jpg) no-repeat center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  font-family: Georgia, serif;
  min-height: 100vh;
}

header nav,
main,
footer {
  @extend %layout-block;
}

main {
  flex-grow: 1;
}