@forward '../modules/placeholders';

form.search {
  @extend %layout-size;
  display: flex;
  margin-top: 0;
  margin-bottom: 0;

  input,
  button {
    font-size: 75%;
  }

  button {
    margin-left: 0.5em;
  }
}

body > header nav + form.search {
  margin-top: -1em;
}

ol.search-results li {
  font-size: 125%;
  margin-bottom: 1em;
}