@forward '../partials/buttons';
@use '../modules/colors';

span.secret {
  a[href*="/reveal/"] {
    @extend %button;
    background: colors.$button url(https://lorevault.s3.us-east-2.wasabisys.com/icons/whisper.svg) no-repeat center;
    background-size: 60%;
    border-radius: 50%;
    display: none;
    height: 1em;
    margin-top: -0.333em;
    margin-left: -0.333em;
    padding: 1em;
    position: absolute;
    text-indent: -9999em;
    width: 1em;

    &:hover {
      background: lighten(colors.$button, 5%) url(https://lorevault.s3.us-east-2.wasabisys.com/icons/whisper.svg) no-repeat center;
      background-size: 80%;
    }

    &:active {
      background: darken(colors.$button, 5%) url(https://lorevault.s3.us-east-2.wasabisys.com/icons/whisper.svg) no-repeat center;
      background-size: 80%;
    }
  }

  &:hover {
    background: colors.$highlight;

    a[href*="/reveal/"] {
      display: inline-block;
    }
  }
}