@forward '../modules/placeholders';

.secret {
  .toggle-reveal-form {
    @extend %left-circle-link;

    path {
      stroke: #000;
    }
  }

  .reveal {
    display: none;
  }

  &.open .reveal {
    display: flex;
  }
}