.secret {
  .toggle-reveal-form {
    background: rgba(245, 225, 166, 1);
    border-radius: 50%;
    float: left;
    height: 2em;
    margin-left: -3em;
    padding: 0;
    width: 2em;

    svg {
      height: 60%;
      width: 60%;
    }

    path {
      stroke: #000;
    }
  }

  .reveal {
    display: none;
  }

  &.open .reveal {
    display: flex;
  }
}