@forward '../modules/placeholders';

.sidebar {
  @extend %box;
  box-shadow: 0 0 1em rgb(0 0 0 / 50%);
  float: right;
  margin: 0 -4em 2em 2em;
  text-align: center;
  width: 20em;

  .group {
    font-size: 0.75rem;
    margin: 0;

    a {
      color: #000;
      text-decoration: none;
    }
  }

  h1 {
    margin: 0.5em 0;
  }

  img {
    margin: 1em 0;
  }

  table {
    text-align: left;

    th {
      border-bottom: 0;
    }

    td,
    tr:nth-child(odd) td {
      background: transparent;
      padding: 0;
    }
  }
}