$bg: #ffffff;
$text: #000000;
$button: #246bce;
$link: #246bce;
$visited: #88656a;
$active: #ed5f07;
$newlink: #ee204e;
$altbg: #e5e4e2;
$altborder: #ccc;
$error: #b40e33;
$highlight: #f2f2d7;
$ins: #acf6bc;
$del: #ffbdb6;
