// Normalize CSS
@import 'node_modules/normalize-scss/sass/normalize';

:root,
* {
  box-sizing: border-box;
}

// MODULES
// Modules are full of things that don't show up in the CSS we produce, but
// are used by the things that get us there, like variables and mixins.

@import 'modules/placeholders';

// PARTIALS
// Partials are the various pieces that actually render to CSS.

@import 'partials/layout';
@import 'partials/form';
@import 'partials/table';
