<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <% if (isLoggedIn) { %>
      <ul>
        <li><a href="/characters">Characters</a></li>
      </ul>
    <% } else { %>
      <ul>
        <li><a href="/login/google">Log in with Google</a></li>
        <li><a href="/login/discord">Log in with Discord</a></li>
      </ul>
    <% } %>
    <% if (isLoggedIn) { %>
    <% if (chars.length > 0) { %>
    <table>
      <thead>
        <tr>
          <th />
          <th>Character</th>
          <th>Party</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% for (const char of chars) { %>
        <tr>
          <td></td>
          <td><%= char.name %></td>
          <td></td>
          <td><a href="/characters/delete/<%= char._id %>">Delete</a></td>
        </tr>
        <% } %>
      </tbody>
    </table>
    <% } else { %>
    <div class="null">
      <p>You don&rsquo;t have any characters yet.</p>
    </div>
    <% } %>
    <form action="/characters" method="POST">
      <label for="new-char-name">Character name</label>
      <input type="text" id="new-char-name" name="new-char-name" placeholder="Enter your character’s name here." />
      <button>Add Character</button>
    </form>
    <% } else { %>
    <p>You&rsquo;ll need to log before you can add a character.</p>
    <% } %>
  </body>
</html>
