<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <% if (isLoggedIn) { %>
      <ul>
        <li><a href="/characters">Characters</a></li>
      </ul>
    <% } else { %>
      <ul>
        <li><a href="/login/google">Log in with Google</a></li>
        <li><a href="/login/discord">Log in with Discord</a></li>
      </ul>
    <% } %>
    <form action="/characters" method="POST">
      <label for="new-char-name">Character name</label>
      <input type="text" id="new-char-name" name="new-char-name" placeholder="Enter your character’s name here." />
      <button>Add Character</button>
    </form>
  </body>
</html>
